# dependencies
node_modules

# next.js
.next
out

# production
dist

# local env files
.env
.env*.local

# prisma sqlite database
dev.db
dev.db-journal
prisma/dev.db
prisma/dev.db-journal

# logs
*.log

# system
.DS_Store
